<%- include('partials/header') %>
<div class="page-margins">
    <div class="section-margins">
        <form action="/auth/google" method="get">
            <button class="connect-btn">Google connect</button>
        </form>
    </div>
    <div class="section-margins">
        <form action="/auth/microsoft" method="get">
            <button class="connect-btn">Microsoft connect</button>
        </form>
    </div>
    <div class="section-margins">
    </div>
</div>
<%- include('partials/footer') %>