        <div class="footer-margins">
            <footer>
            </footer>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="javascript/script.js" charset="utf-8" type="text/javascript"></script>
    </body>
</html>