:root {
    --main-color: black;
    --sec-color: white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: white;
        --sec-color: black;
    }
    .logo, .icon {
        filter: invert(100%);
    }
}

body {
    background: var(--sec-color);
    caret-color: transparent;
    color: var(--main-color);
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}
header {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}
footer {
    margin: 1rem;
}

.lili-title {
    font-size: 2rem;
    font-weight: bold;
}
.lili-adress{
    font-size: 0.8rem;
    font-weight: bold;
}
.limbo-title {
    font-size: 1.2rem;
    font-weight: bold;
}

p, #goto-menu p {
    color: var(--main-color);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.2rem;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
}

input, textarea, p, #goto-menu, .connect-btn {
    font-size: 1rem;
    min-height: 1rem;
}

textarea{
    margin: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 2.4rem;
}


input, textarea, .connect-btn {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background: transparent;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    width: 100%;
    max-width: 100%;
}

input, textarea {
    width: calc(100% - 36px);
    max-width: calc(100% - 36px);
}

input:focus, textarea:focus, .connect-btn:hover {
    caret-color: var(--main-color);
    color: var(--main-color);
    outline: none;
    border: 2px solid var(--main-color);
}

input:focus, .connect-btn:hover {
    margin: -1px;
}

.page-margins {
    width: 90%;
    margin: auto;
}
.section-margins {
    margin: 1rem 0rem;
}
.flex-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.flex-space-between {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.lili-buttons-margin {
    margin: 1px 0 1rem 0;
}

.menu-buttons-margin {
    margin: 4px 0 1rem 0;
}
.logo {
    padding: 0.5px;
    height: 3.5rem;
}
.logo:hover {
    padding: 0px;
    height: calc(3.5rem + 1px);
}

header {
    padding: 1.5rem 0 1rem 0;
}


.icon {
    height: 16px;
    width: 16px;
}
.icon:hover {
    cursor: crosshair;
    margin: -1px;
    border: var(--main-color);
    border: 1px solid;
}

.logo:hover, .connect-btn:hover {
    cursor: crosshair;
}

.maininput {
    padding-bottom: 3px;
}

.limbo-item {
    padding: 0.1rem 0.5rem;
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    margin: -1px 0;
}
.limbo-item:first-child {
    border-top: 1px solid var(--main-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.limbo-item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.limbo-item:only-child {
    border: 1px solid var(--main-color);
    border-radius: 1rem;
}

.script-display-none {
    display: none;
}

.gotoadress:hover {
    cursor: crosshair;
    background: #808080;

}

#goto-menu {
    border: 1px solid var(--main-color);
    background: var(--sec-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    max-width: 50%;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    background-clip: padding-box;
    border-right: solid 1px transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar {
    cursor: hand;
    border-top-right-radius: 1rem;
    width: 0.7rem;
    background-color: transparent; /* or add it to the track */
}

::-webkit-scrollbar-corner {
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-radius: 1rem 0 1rem 0;
    background: var(--main-color);
}

::-webkit-resizer {
    display: none;
  }

::-webkit-scrollbar-button {
    height: 6px;
    visibility: hidden;
}

#goto-menu button {
    width: 100%;
}

.display-none {
    display: none;
}

.hide {
    visibility: hidden;
}